/* global */

* {
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

/* main */

.main {
  width: 100%;
  min-height: 99vh;
  z-index: 1;
  background: url("../img/bg.jpg") ;
  background-size: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main h1,
h3 {
  text-align: center;
  color: white;
  margin: 0;
  padding-top: 25%;
  z-index: 3;
}

.main h1 {
  font-size: 3em;
  margin-left: 6%;
}

.main h3 {
  font-size: 2em;
  margin-left: 6%;
}

.main cite {
  color: white;
  width: 70%;
  margin-left: 6%;
  margin-bottom: 7%;
  text-align: center;
  margin: 0 auto;
  z-index: 3;
}

.txt-type {
  color: red;
}

.overlay p {
  color: red;
  z-index: 3;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.arrowDown {
  color: white;
  z-index: 3;
  font-size: 50px;
  position: absolute;
  bottom: 10%;
  left: 49%;
  transform: translateX(-49%);
  animation: bounce 0.7s infinite alternate;
}

.projects {
  background: White;
  color: black;
  width: 50%;
  margin: 0 auto;
}

.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.5em;
  padding: 0 10px 10px 10px;
  margin: 0 auto;
}

.projects h2 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.projectList img {
  width: 100%;
  height: 500px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0 auto;
}

.projectList2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.5em;
  padding: 0 10px 10px 10px;
}

.projectList2 img {
  width: 100%;
  height: 500px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.projectListH3 {
  min-height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.skills {
  background: black;
  min-height: 500px;
  color: white;
}
.skills h2 {
  text-align: center;
  padding-top: 5%;
}

.skills ul {
    margin-top: 5%;
    margin-left: 15%;
    columns: 2;
}

.skills li {
    padding: 5px;
    font-size: 1.5rem;
} 

.iconImg {
    height: 20px;
}

.aboutMe {
  background: #333;
  min-height: 500px;
}

.aboutMe h2 {
  text-align: center;
  padding-top: 5%;
  color: white;
}
.aboutMe p {
    color: white;
    margin: 0 auto;
    width: 70%;
}

.aboutMe ul {
    text-align: center;
}

.aboutMe li {
    display: inline;
    color: white;
    padding: 10px;
    font-size: 30px;
}

.far:hover, .fab:hover {
  color: gray;
}

.pOr {
    text-align: center;
    padding-bottom: 10px;
}

.contact {
    padding-bottom: 20px;
}

.contact, h1, h2 {
    text-align: center;
}

.contact-form {
       margin: 5% auto;
       width: 50%;
       height: 50px;
       position: relative;
       overflow-X: hidden;
       background: none;
   }
   
   .contact-form input {
       width: 100%;
       height: 100%;
       padding-top: 20px;
       border: none;
       outline: none;
       background: none;
   }
   
   .contact-form label {
       position: absolute;
       bottom: 0;
       left: 0;
       width: 100%;
       height: 100%;
       pointer-events: none;
       border-bottom: 1px solid black;
       background: none;
   }
   
   .contact-form label::after {
       content: "";
       position: absolute;
       left: 0;
       bottom: 0;
       height: 100%;
       width: 100%;
       border-bottom: 1px solid black;
       transform: translateX(-100%);
   }
   
   .content-name {
       position: absolute;
       bottom: 5px;
       left: 0px;
       transition: all 0.3s ease;
   }
   
   .close-name {
       display: inline;
       position: absolute;
       bottom: 0;
       right: 0;
   }
   
   .close-name:hover {
       cursor: pointer;
   }
   
   .close-name-sm {
       display: inline;
       position: absolute;
       bottom: 0;
       right: 0;
   }
   
   .close-name-sm:hover {
       cursor: pointer;
   }
   
   .contact-form input:focus+.label-name .content-name,
   .contact-form input:valid+.label-name .content-name {
       transform: translateY(-150%);
       font-size: 12px;
       color:gray;
   }
   
   .contact-form input:focus+.label-name::after,
   .contact-form input:valid+.label-name {
       transform: translateX(0%);
   }
   
   .email-form {
       margin: 5% auto;
       width: 50%;
       height: 50px;
       position: relative;
       overflow: hidden;
       background: none;
   }
   
   .email-form input {
       width: 100%;
       height: 100%;
       padding-top: 20px;
       border: none;
       outline: none;
       background: none;
   }
   
   .email-form label {
       position: absolute;
       bottom: 0;
       left: 0;
       width: 100%;
       height: 100%;
       pointer-events: none;
       border-bottom: 1px solid black;
       background: none;
   }
   
   .email-form label::after {
       content: "";
       position: absolute;
       left: 0;
       bottom: 0;
       height: 100%;
       width: 100%;
       border-bottom: 1px solid black;
       transform: translateX(-100%);
   }
   
   .email-field {
       position: absolute;
       bottom: 5px;
       left: 0px;
       transition: all 0.3s ease;
   }
   
   .close-email {
       position: absolute;
       bottom: 0;
       right: 0;
   }
   
   .close-email:hover {
       cursor: pointer;
   }
   
   .close-email-sm {
       position: absolute;
       bottom: 0;
       right: 0;
   }
   
   .close-email-sm:hover {
       cursor: pointer;
   }
   
   .email-form input:focus+.email-name .email-field,
   .email-form input:valid+.email-name .email-field {
       transform: translateY(-150%);
       font-size: 12px;
       color:gray;
   }
   
   .email-form input:focus+.email-name::after,
   .email-form input:valid+.email-name {
       transform: translateX(0%);
   }
   
   .text-area {
       margin: 5% auto;
       width: 50%;
       height: 50px;
       position: relative;
       background: none;
   }
   
   .text-area textarea {
       width: 100%;
       height: 75px;
       resize: none;
       background: none;
       font-size: .8rem;
   }
   
   .close-text {
       position: absolute;
       right: 0;
       top: 0;
   }
   
   form button {
       margin-top: 5%;
       margin-bottom: 0;
       width: 50%;
       height: 50px;
       padding: 4px 16px;
       border-radius: 24px;
       background: none;
       border: 1px solid black;
       font-size: 1rem;
   }
   
   form button:hover {
       cursor: pointer;
   }

   .contact li {
        display: inline;
        font-size: 30px;
   }

/* animations */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

@media screen and (max-width: 500px) {

  .main p {
    color: white;
    z-index: 3;
    position: absolute;
    bottom: 20%;
    left: 53%;
    transform: translateX(-52%);
  }
  
 .projects {
  width: 100%;
 }
}
