/* Global */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@300;400;500&display=swap");
@import "@splidejs/splide/css";

html {
  background: var(--secondary);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main: #fafafa;
  --main-light: rgba(250, 250, 250, 0.5);
  --secondary: #121212;
  --secondary-light: rgba(18, 18, 18, 0.7);
}

a {
  color: var(--main);
  text-decoration: none;
}

a:visited {
  color: var(--maing-light);
}

button:active {
  transform: translate(-10px);
}

body {
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

/* main */

.container {
  background: var(--secondary);
  color: var(--main);
}

.header {
  display: flex;
  background: #000000;
  color: var(--main);
  height: 75px;
}

.header-left {
  width: 70%;
  display: flex;
  align-items: center;
  animation: slideDown 2s forwards;
}

.header-left a {
  height: 70px;
  width: 70px;
}

.header-left img {
  width: 100%;
  object-fit: contain;
}

.header-left p {
  cursor: pointer;
  display: inline-block;
}

.header-left p:hover {
  transform: translateY(-2px);
  border-bottom: 2px solid var(--main-light);
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding-right: 3%;
  animation: slideDown 2s forwards;
}

.header-right a:hover {
  transform: translateY(-2px);
  border-bottom: 2px solid var(--main-light);
}

.main-head {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main);
}

.main-head img {
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  position: absolute;
  filter: brightness(80%);
  animation: blurUp 2s forwards;
}

.main-head h1 {
  font-size: 50px;
  margin-top: 15%;
  z-index: 2;
  animation: slideUp 2s forwards;
}

.main-head h3 {
  font-size: 30px;
  z-index: 2;
  animation: fadeIn 3s forwards;
}

.txt-type {
  color: var(--main-light);
  z-index: 2;
}

.main-body {
  background: url("../images/neon.jpg") center bottom no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  color: var(--secondary);
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 350px;
  min-height: 500px;
  display: flex;
  margin: -8% 0 10% 0;
  flex-direction: column;
  border-radius: 8px;
  font-size: 14px;
  z-index: 2;
}

.card img {
  margin: 2% auto 0;
  width: 100%;
  border-bottom: 1px solid var(--main-light);
  margin-bottom: 15px;
}

.card h4 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.card ul {
  margin-left: 10px;
  margin-bottom: 10px;
}

.card li {
  display: inline;
  color: var(--secondary);
  padding: 0 3px;
  font-size: 0.8rem;
  margin-left: 5px;
}

.card p {
  margin-left: 10px;
}

.card-bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
}

.card-bottom a {
  border: 1px solid var(--secondary);
  padding: 4px 20px;
  margin-bottom: 10px;
  transition: 0.3s all;
  border-radius: 500px;
}

.card-bottom a:hover {
  background: lightgray;
  transform: translateY(-5px);
}

.splide__track {
  margin: 2%;
}

.icon {
  width: 75px;
  height: 75px;
  margin: 0 10px;
}

.main-about {
  background: var(--main);
  color: var(--secondary);
}

.main-about h4 {
  text-align: center;
}

.main-about p {
  margin: 0 5%;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: url("../images/neon1.jpg") no-repeat;
  background-size: 100% 100%;
  min-height: 300px;
}

.footer h3 {
  text-align: center;
}

.form {
  margin: 5% auto;
  width: 80%;
  max-width: 600px;
  min-height: 300px;
  max-height: 600px;
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.form-body {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-field {
  display: inline-block;
  position: relative;
  width: 40%;
  height: 35px;
  line-height: 35px;
}
label {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  color: var(--secondary);
  transition: 0.2s all;
  cursor: text;
}
input[type="text"] {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--secondary);
  box-shadow: none;
  color: #111;
  font-size: 18px;
  background: none;
}

.clear-name,
.clear-email {
  position: absolute;
  top: 50%;
  right: 0;
}

.email-field {
  display: inline-block;
  position: relative;
  width: 40%;
  height: 35px;
  line-height: 35px;
}

input[type="email"] {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--secondary);
  box-shadow: none;
  color: #111;
  font-size: 18px;
  background: none;
}

input:invalid {
  outline: 0;
  color: #fafafa;
  border-color: var(--secondary);
}

input:focus,
input:valid {
  border-color: var(--secondary-light);
}

input:focus ~ label,
input:valid ~ label {
  background: none;
  font-size: 14px;
  top: -24px;
  color: var(--secondary-light);
}

#text-area {
  margin: 8% 5% 0 5%;
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: none;
}

#text-area:focus {
  outline: none;
  background: none;
}

#text-area::placeholder {
  color: var(--secondary-light);
}

.form-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form button {
  margin-top: 8%;
  width: 250px;
  background: var(--secondary);
  color: var(--main);
  border-radius: 500px;
  padding: 1% 8%;
}

.form button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .header {
    position: fixed;
    bottom: top;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
  }

  .header-left {
    width: 20%;
  }

  .header-right {
    margin-left: auto;
    width: 80%;
  }

  .main-head {
    display: flex;
    align-items: center;
  }

  .main-head h1 {
    margin-top: 50%;
    font-size: 40px;
    text-align: center;
  }

  .main-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 85%;
    margin: -15% 0 20% 0;
    padding: 0;
  }

  .footer {
    margin-bottom: 0;
  }

  .footer form {
    width: 95%;
  }

  input,
  text {
    padding-left: 12%;
  }

  .text-info {
    padding-left: 30%;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer h3 {
    left: 1%;
    font-size: 65px;
  }

  .form-body {
    display: flex;
    flex-direction: column;
  }

  .email-field,
  .input-field {
    width: 80%;
    margin: 5% 0;
  }

  input#text-area {
    margin: 0 auto;
  }

  .form button {
    width: 90%;
    padding: 2% 7%;
  }
}

/* KeyFrames */

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blurUp {
  from {
    filter: brightness(100%);
    transform: scale(1.5);
    filter: blur(8px);
  }

  to {
    filter: brightness(80%);
    transform: scale(1);
    filter: blur(00);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
